flask
flask-cors
requests
pydub
soundfile
kokoro-onnx
deepface
ultralytics
mediapipe
fastapi
uvicorn
python-multipart
faster-whisper
python-dotenv
edge-tts
google-genai
pyautogui
pygetwindow
pytesseract
pillow
pyperclip
opencv-python
wikipedia
beautifulsoup4
soupsieve
speechrecognition
pyaudio
sounddevice
